
###> symfony/framework-bundle ###
/site/.env.local
/site/.env.local.php
/site/.env.*.local
/site/config/secrets/prod/prod.decrypt.private.php
/site/public/bundles/
/site/var/
/site/vendor/
###< symfony/framework-bundle ###
